.fullpage {
    display: flex;
    background-color: rgb(235, 233, 233);
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-div {
    background-color: white;
    padding: 20px 20px;
    margin-top: 50px;
}

.left {
    flex-basis: 40%;
}

.right {
    flex-basis: 60%;
    align-self: center;
}

h3 {
    margin-bottom: 20px;
}

form div {
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

form div div {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    border: none;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 3px;
    padding: 3px 0px;
}